<a href="https://colab.research.google.com/github/armandovl/funciones_descriptiva/blob/main/Clase_Estadistica_Descriptiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importamos librerías de cajon
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
#importamos el data frame
url="https://raw.githubusercontent.com/armandovl/datasets_uno/main/atitanic.csv"
datos= pd.read_csv(url) #leer la url y ponerlo en un dataframe
datos.head() #ver el encabezado

   PassengerId                                  Name  ...  Embarked  Survived
0          891                   Dooley, Mr. Patrick  ...         Q     muere
1          890                 Behr, Mr. Karl Howell  ...         C      vive
2          888          Graham, Miss. Margaret Edith  ...         S      vive
3          887                 Montvila, Rev. Juozas  ...         S     muere
4          886  Rice, Mrs. William (Margaret Norton)  ...         Q     muere

[5 rows x 8 columns]

In [8]:
datos.head(8) #primeras 8 filas

   PassengerId                                  Name  ...  Embarked  Survived
0          891                   Dooley, Mr. Patrick  ...         Q     muere
1          890                 Behr, Mr. Karl Howell  ...         C      vive
2          888          Graham, Miss. Margaret Edith  ...         S      vive
3          887                 Montvila, Rev. Juozas  ...         S     muere
4          886  Rice, Mrs. William (Margaret Norton)  ...         Q     muere
5          885                Sutehall, Mr. Henry Jr  ...         S     muere
6          884         Banfield, Mr. Frederick James  ...         S     muere
7          883          Dahlberg, Miss. Gerda Ulrika  ...         S     muere

[8 rows x 8 columns]

In [ ]:
datos.tail(5) #últimas 8 filas

In [ ]:
datos.shape #imprime las filas y las columnas

In [ ]:
datos.columns #nombre de las columnas

In [ ]:
datos.dtypes #tipos de variables

In [ ]:
datos.info() # nombre columna conteo nulos tipos de variables

In [11]:
#cambiar nombre de ciertas columnas
datos=datos.rename(columns={'PassengerId':'Identificador',
                      'Name':'El nombre',
                      'Age':'la edad'}
             )
datos

     Identificador  ... Survived
0              891  ...    muere
1              890  ...     vive
2              888  ...     vive
3              887  ...    muere
4              886  ...    muere
..             ...  ...      ...
709              5  ...    muere
710              4  ...     vive
711              3  ...     vive
712              2  ...     vive
713              1  ...    muere

[714 rows x 8 columns]

In [13]:
#cambiar nombre de todas columnas
datos.columns = ['Id', 'Nombre', 'Edad', 'Clase', 'Sexo', 'Familia','Embarcacion','Sobrevivientes']
datos

      Id  ... Sobrevivientes
0    891  ...          muere
1    890  ...           vive
2    888  ...           vive
3    887  ...          muere
4    886  ...          muere
..   ...  ...            ...
709    5  ...          muere
710    4  ...           vive
711    3  ...           vive
712    2  ...           vive
713    1  ...          muere

[714 rows x 8 columns]

In [15]:
#eliminar columna
datos=datos.drop(['Id'],axis=1)
datos

                                                Nombre  ...  Sobrevivientes
0                                  Dooley, Mr. Patrick  ...           muere
1                                Behr, Mr. Karl Howell  ...            vive
2                         Graham, Miss. Margaret Edith  ...            vive
3                                Montvila, Rev. Juozas  ...           muere
4                 Rice, Mrs. William (Margaret Norton)  ...           muere
..                                                 ...  ...             ...
709                           Allen, Mr. William Henry  ...           muere
710       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...            vive
711                             Heikkinen, Miss. Laina  ...            vive
712  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...            vive
713                            Braund, Mr. Owen Harris  ...           muere

[714 rows x 7 columns]

In [16]:
#eliminar varias columnas
datos=datos.drop(['Nombre',"Familia",'Embarcacion'],axis=1)
datos

     Edad  Clase    Sexo Sobrevivientes
0    32.0      3    male          muere
1    26.0      1    male           vive
2    19.0      1  female           vive
3    27.0      2    male          muere
4    39.0      3  female          muere
..    ...    ...     ...            ...
709  35.0      3    male          muere
710  35.0      1  female           vive
711  26.0      3  female           vive
712  38.0      1  female           vive
713  22.0      3    male          muere

[714 rows x 4 columns]

In [17]:
datos.describe() #descriptivos

             Edad       Clase
count  714.000000  714.000000
mean    29.699118    2.236695
std     14.526497    0.838250
min      0.420000    1.000000
25%     20.125000    1.000000
50%     28.000000    2.000000
75%     38.000000    3.000000
max     80.000000    3.000000

In [18]:
datos.describe().round(1) #descriptivos un decimal

        Edad  Clase
count  714.0  714.0
mean    29.7    2.2
std     14.5    0.8
min      0.4    1.0
25%     20.1    1.0
50%     28.0    2.0
75%     38.0    3.0
max     80.0    3.0

In [24]:
datos.describe().round(1).transpose() #descriptivos un decimal y transpuesto

      count  mean   std  min   25%   50%   75%   max
Edad  714.0  29.7  14.5  0.4  20.1  28.0  38.0  80.0

In [21]:
datos.Clase=pd.Categorical(datos["Clase"]) #Transformamos en cateorica

In [23]:
datos.info() #vemos que la variable ya es categorica

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Edad            714 non-null    float64
 1   Clase           714 non-null    category
 2   Sexo            714 non-null    object
 3   Sobrevivientes  714 non-null    object
dtypes: category(1), float64(1), object(2)
memory usage: 17.7+ KB

In [25]:
datos.describe().round(1).transpose() #como Clase ya es categórica ya no aparecen sus descriptivos

      count  mean   std  min   25%   50%   75%   max
Edad  714.0  29.7  14.5  0.4  20.1  28.0  38.0  80.0

In [26]:
# Medidas de tendencia central
media = datos["Edad"].mean()
mediana = datos["Edad"].median()
moda = datos["Edad"].mode()
print("""
    Media: %d
    Mediana: %d
    Moda: %d
""" % (media,mediana,moda))

    Media: 29
    Mediana: 28
    Moda: 24

In [ ]:
#estadísticos por grupo
agrupados_datos = datos.groupby('Sexo')
agrupados_datos.describe().round(1).transpose()

In [ ]:
agrupados_datos = datos[['Edad']]
agrupados_datos = datos.groupby('Sexo')
agrupados_datos.describe().round(1).transpose()

In [ ]:
#define la función para calcular cv 
cv = lambda x: np. std (x, ddof = 1 ) / np. mean (x) * 100

In [ ]:
 #calcular CV
 cv (datos)

In [ ]:
ax=sns.boxenplot(x="Sexo", y="Edad", data=datos)
print(ax)

In [ ]:
ax=sns.boxenplot(x="Sexo", y="Edad", data=datos)
ax =sns.stripplot(x="Sexo", y="Edad", data=datos, size=3, jitter=True, color="black")
print(ax)

In [ ]:
plt.figure(figsize=(10,5)) #tamaño figura x, y
ax=sns.boxenplot(x="Sexo", y="Edad", data=datos)
ax =sns.stripplot(x="Sexo", y="Edad", data=datos, size=3, jitter=True, color="black")
print(ax)

In [ ]:
plt.figure(figsize=(8,6)) #tamaño figura x, y
ax=sns.boxenplot(x="Edad", y="Sexo", data=datos)
ax =sns.stripplot(x="Edad", y="Sexo", data=datos, size=3, jitter=True, color="black")
print(ax)

In [ ]:
ax = sns.boxplot(x="Edad", data=datos)

In [ ]:
ax = sns.boxplot(x="Edad", data=datos,color="White")

In [ ]:
ax = sns.boxplot(x="Edad" , y="Sexo", data=datos,color="White")

In [ ]:
plt.figure(figsize=(8,6)) #tamaño figura x, y
ax = sns.boxplot(x="Edad" , y="Sexo", data=datos,color="White")

In [ ]:
plt.figure(figsize=(8,6)) #tamaño figura x, y
ax = sns.boxplot(x="Edad" , y="Sexo", data=datos,color="White")
ax =sns.stripplot(x="Edad", y="Sexo", data=datos, size=3, jitter=True, color="black")

In [ ]:
plt.figure(figsize=(8,6)) #tamaño figura x, y
ax = sns.boxplot(x="Edad" , y="Sexo", data=datos,color="White")
ax =sns.swarmplot(x="Edad", y="Sexo", data=datos)
print(ax)

In [ ]:
plt.figure(figsize=(8,6)) #tamaño figura x, y
ax = sns.boxplot(x="Edad"  ,data=datos,color="White")
ax =sns.swarmplot(x="Edad", data=datos)
print(ax)

In [ ]:
plt.figure(figsize=(8,6)) #tamaño figura x, y
ax = sns.boxplot(x="Edad"  ,data=datos,color="White")
ax =sns.swarmplot(x="Edad", data=datos)
ax.text(29,-0.4, "media 29", weight="bold",size=12,ha='center')#color="green"
print(ax)

In [ ]:
plt.figure(figsize=(8,6)) #tamaño figura x, y
ax = sns.boxplot(x="Edad"  ,data=datos,color="White")
#ax =sns.swarmplot(x="Edad", data=datos)
ax.text(29,0, "X", weight="bold",size=12,ha='center')#color="green"
print(ax)

In [ ]:
plt.figure(figsize=(8,6)) #tamaño figura x, y
ax = sns.boxplot(x="Edad"  ,data=datos,color="White")
ax =sns.swarmplot(x="Edad", data=datos)
ax.text(29,0, "X", weight="bold",size=12,ha='center')#color="green"
print(ax)

In [ ]:
plt.figure(figsize=(8,6)) #tamaño figura x, y
ax = sns.boxplot(x="Edad"  ,data=datos,color="White")
ax =sns.swarmplot(x="Edad", data=datos,color="green", size=6)
ax.text(29,0, "X", weight="bold",size=12,ha='center')#color="green"
print(ax)

In [ ]:
plt.figure(figsize=(6,8)) #tamaño figura x, y
ax = sns.boxplot(y="Edad"  ,data=datos,color="White")
ax =sns.swarmplot(y="Edad", data=datos,color="green", size=6)
ax.text(0,29, "X", weight="bold",size=12,ha='center')#color="green"
print(ax)

In [ ]:
sns.displot(datos["Edad"],bins=50)

In [ ]:
sns.displot(datos["Edad"][datos.Sexo=="female"], bins=50)

In [ ]:
sns.displot(datos["Edad"][datos.Sexo=="male"], bins=50)

In [ ]:
ax=sns.displot(datos["Edad"][datos.Sexo=="male"], bins=50)
ax=sns.displot(datos["Edad"][datos.Sexo=="female"], bins=50)

In [ ]:
ax=sns.displot(datos["Edad"],color="y")

In [ ]:
ax=sns.displot(datos["Edad"],color="y",kind="kde")

In [ ]:
ax=sns.displot(datos["Edad"],color="y")
ax=sns.displot(datos["Edad"],color="r",kind="kde")
print(ax)

In [ ]:
sns.displot(datos["Edad"], kde=True)

In [ ]:
sns.displot(datos["Edad"], kde=True, bins=50,color="green")

In [ ]:
ax=sns.displot(datos["Edad"][datos.Sexo=="male"], bins=50,kde=True)

In [ ]:
ax=sns.displot(datos["Edad"][datos.Sexo=="male"], bins=50,kde=True)
ax=sns.displot(datos["Edad"][datos.Sexo=="female"], bins=50,kde=True)

In [ ]:
sns.histplot(
    datos,
    x="Edad", hue="Sexo",
    multiple="stack",
    palette="light:m_r",
    edgecolor=".3",
    linewidth=.5,
    log_scale=True,
)

In [ ]:
sns.histplot(
    datos,
    x="Edad", hue="Sexo",
    multiple="stack",
    palette="light:m_r",
    edgecolor=".3",
    linewidth=.5,
    log_scale=False,
)

In [ ]:
sns.histplot(
    datos,
    x="Edad", hue="Sobrevivientes",
    multiple="stack",
    palette="light:m_r",
    edgecolor=".3",
    linewidth=.5,
    log_scale=False,
)

In [ ]:
sns.histplot(
    datos,
    x="Edad", hue="Clase",
    multiple="stack",
    palette="light:m_r",
    edgecolor=".3",
    linewidth=.5,
    log_scale=False,
)

In [ ]:
sns.barplot(x="Sexo",y="Edad",data=datos)

In [ ]:
sns.barplot(x="Clase",y="Edad",data=datos)

In [ ]:
sns.countplot(x="Sexo",data=datos)

In [ ]:
sns.countplot(datos["Sexo"])

In [ ]:
sns.violinplot(datos["Edad"])

In [ ]:
sns.violinplot(datos["Edad"][datos.Sexo=="male"],color="red")
sns.violinplot(datos["Edad"][datos.Sexo=="female"])

In [ ]:
sns.violinplot(x="Edad", y="Sexo", data=datos)

In [ ]:
sns.violinplot(x="Sexo", y="Edad", data=datos)

In [ ]:
sns.violinplot(x="Sexo", y="Edad",hue="Clase", data=datos)

In [ ]:
sns.violinplot(x="Clase", y="Edad",hue="Sexo", data=datos)

In [ ]:
ax = sns.violinplot(x="Clase", y="Edad", hue="Sexo",
                    data=datos, palette="Set2", split=True,
                   )

In [ ]:
ax = sns.violinplot(x="Clase", y="Edad", hue="Sexo",
                    data=datos, palette="Set2", split=True,
                    scale="count")

In [ ]:
sns.catplot(x="Clase", y="Edad", hue="Sexo",
                    data=datos)

In [ ]:
sns.kdeplot(datos["Edad"][datos.Sexo=="male"],color="red")
sns.kdeplot(datos["Edad"][datos.Sexo=="female"],color="blue")

In [ ]:
datos["Sexo"].value_counts()

In [ ]:
datos["Clase"].value_counts()

In [ ]:
datos.groupby("Clase")["Edad"].mean()
#direfentes medias
#https://docs.python.org/es/3.8/library/statistics.html

In [ ]:
datos.groupby("Clase")["Edad"].median()

In [ ]:
datos["Edad"].mean()

In [ ]:
datos["Edad"].mode()

In [ ]:
#varianza ddof=0 poblacional ddof=1 muestral
datos["Edad"].var(ddof=1)

In [ ]:
 #desviación estandar ddof=0 poblacional ddof=1 muestral
datos["Edad"].std(ddof=1)

In [ ]:
#coeficiente de variación
datos["Edad"].std(ddof=1) / datos["Edad"].mean()

In [ ]:
len(datos["Edad"])

In [ ]:
from scipy import stats #error estandar de la media
stats.sem(datos["Edad"], ddof = 1)

In [ ]:
from scipy import stats #error estandar de la media
stats.sem(datos["Edad"], ddof = 0)

In [ ]:
import numpy as np
import scipy.stats as st

#define sample data
data = [12, 12, 13, 13, 15, 16, 17, 22, 23, 25, 26, 27, 28, 28, 29]

#create 95% confidence interval for population mean weight
st.t.interval(alpha=0.90, df=len(data)-1, loc=np.mean(data), scale=st.sem(data))

In [ ]:
#create 95% confidence interval for population mean weight
st.t.interval(alpha=0.95, df=len(data)-1, loc=np.mean(data), scale=st.sem(data))

In [ ]:
st.t.interval(alpha=0.99, df=len(data)-1, loc=np.mean(data), scale=st.sem(data))

In [ ]:
st.t.interval(alpha=0.90, df=len(datos["Edad"])-1, loc=np.mean(datos["Edad"]), scale=st.sem(datos["Edad"]))

In [ ]:
st.t.interval(alpha=0.95, df=len(datos["Edad"])-1, loc=np.mean(datos["Edad"]), scale=st.sem(datos["Edad"]))

In [ ]:
st.t.interval(alpha=0.99, df=len(datos["Edad"])-1, loc=np.mean(datos["Edad"]), scale=st.sem(datos["Edad"]))

In [ ]:
datos.Edad.groupby(datos["Sexo"]).count().plot(kind='pie')

In [ ]:
datos.Edad.groupby(datos["Sexo"]).count().plot(kind='pie',autopct='%1.1f%%')

In [ ]:
datos.Edad.groupby(datos["Sexo"]).count().plot(kind='pie',autopct='%1.0f%%')

Gráficos

In [ ]:
#importamos el data frame
url="https://raw.githubusercontent.com/armandovl/datasets_uno/main/atitanic.csv"
datos= pd.read_csv(url)
datos.head()

In [ ]:
ax = sns.boxplot(x="Pclass", y="Age", data=datos)
ax = sns.stripplot(x="Pclass", y="Age", data=datos, jitter=True, edgecolor="gray")

In [ ]:
ax = sns.boxplot(x="Pclass", y="Age", data=datos ,hue="Sex")
ax = sns.stripplot(x="Pclass", y="Age", data=datos, jitter=True, edgecolor="gray" ,hue="Sex")

In [ ]:
ax = sns.boxplot(x="Pclass", y="Age", data=datos ,hue="Sex")
ax = sns.swarmplot(x="Pclass", y="Age", data=datos, edgecolor="gray")

In [ ]:
ax = sns.boxplot(x="Pclass", y="Age", data=datos ,hue="Sex")
ax = sns.swarmplot(x="Pclass", y="Age", data=datos, edgecolor="gray",hue="Sex" )

In [ ]:
ax = sns.boxplot(x="Pclass", y="Age", data=datos ,hue="Sex")
ax = sns.swarmplot(x="Pclass", y="Age", data=datos, edgecolor="gray",hue="Sex" ,split=True)

In [ ]:
ax = sns.boxplot(x="Pclass", y="Age", data=datos ,hue="Sex")
ax = sns.stripplot(x="Pclass", y="Age", data=datos, jitter=True, edgecolor="gray")

In [ ]:
sns.kdeplot(data=datos["Age"], shade=True)

In [ ]:
#ver los valores nulos en un gráfico
sns.heatmap(datos.isnull())
#la edad y cabin hay varios nulos

In [ ]:
sns.heatmap(datos.corr(), annot=True) #mapa de correlaciones

In [ ]:
corr = datos.corr() 
sns.heatmap(corr, 
      xticklabels=corr.columns.values, 
      yticklabels=corr.columns.values,
      annot=True)

In [ ]:
sns.set(style="ticks",font_scale=1)
sns.pairplot(datos)